@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
  word-spacing: 4px;
  font-family: "Wallpoet", sans-serif;
  /* font-family: "Freckle Face", cursive; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #0b0b0b;
  --text-color: #f2f2f2;
}

:root.light {
  --bg-color: #ffffff;
  --text-color: #111111;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
  transform: scale(0.95) !important;
}

.loader {
  margin-bottom: -4px;
  margin-left: 10px;
  font-size: 20px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.layout {
  box-sizing: border-box;
}

.content {
  padding: 3% 5%;
}

.p-r {
  position: relative;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.f1 {
  flex: 1;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.ls-1 {
  letter-spacing: 1px;
}

.p-h-5 {
  padding: 0 5px;
}

.p-h-10 {
  padding: 0 10px;
}

.p-v-5 {
  padding: 5px 0;
}

.p-v-10 {
  padding: 10px 0;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}

.sad {
  position: absolute;
  left: 3%;
  bottom: 0;
}
